* {
  margin: 0;
  background-color: rgb(74, 74, 111);
  font-family: Arial, Helvetica, sans-serif;
}

.second {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(1,1fr); */
  width: 150px;
  height: 250px;
  border: 2px solid crimson;
  color: wheat;
}
.ch {
  font-weight: bold;
  /* text */

  /* padding:20px;
    margin-right: 2px;
    width: 20px; */
  border: 2px solid black;
  border-radius: 20%;
  /* background-color: gray; */

  background-color: wheat;
}
.main {
  display: grid;
  /* row-gap: 2px; */
  /* column-gap: 10px; */
  width: 280px;
  height: 420px;
  /* border: 2px solid black; */
  margin: auto;
  margin-top: 80px;
}
#inputs {
  /* text-align: center3; */
  color: #fff;
  background-color: black;
  margin-bottom: 10px;
  width: 92%;
  height: 80px;
  border: none;
  border-radius: 20px;
  /* margin: auto; */
}
#inp {
  /* margin-right: 1px; */
  color: black;
}
#controls {
  display: grid;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.input {
  /* margin: 10px; */
  font-weight: bold;
  /* text */

  padding: 20px;
  width: 20px;
  /* border: 2px solid black; */
  border-radius: 20%;
  /* background-color: gray; */
  /* color: #fff; */
  background-color: rgb(213, 210, 203);
}
/* seekh ke repeat */
button {
    
  /* width: 250px; */
  color: white;
  margin-top: 2px;
  vertical-align: top;
  background-color: crimson;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}
.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#DEL {
  text-align: center;
  color: black;
  letter-spacing: 2px;
  background-color: crimson;
}
#answer {
  background-color: rgb(108, 108, 204);
  font-weight: bolder;
  color: black;
}
#reset {
  color: black;
  letter-spacing: 2px;
  background-color: crimson;
  font-weight: bolder;
}
input {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  padding: 5px;
  text-align: right;
  /* height: 20px; */
  /* padding: 20px 10px; */
  line-height: 28px;
  letter-spacing: 1px;
  /* color: black; */
  font-weight: bolder;
}
input::placeholder{
    color: white;
    opacity: 0.8;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: bolder;
}
